:root{
    --color1: rgb(17, 17, 17);
    --color2: #d8d8d8;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
}
header{
    width: 100vw;
    height: 40px;
    background-color: var(--color1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    height: 100%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
nav ul li a{
    color: #aeaeae;
    text-decoration: none;
}
nav ul li:hover a{
    color: #fff;
}
main{
    width: 80vw;
    height: auto;
    background-color: #fafafa;
}
article{
    padding: 10px;
}
aside{
    text-align: center;
    padding: 15px;
    width: 20vw;
    height: auto;
    background-color: var(--color2);
}
aside img{
    width: 80px;
    height: 80px;
}
aside h3{
    padding-bottom: 20px;
}
footer{
    width: 100vw;
    height: 100px;
    background-color: var(--color1);
}
